<div class="game-page">

  <header-component></header-component>

  <div class="game-container">

    <div class="game-board">

      <section class="dealer-section">
        <div class="dealer-area">
          <ng-container *ngFor="let card of dealerCards; let i = index">
            <img *ngIf="showDealerCards || i === 0; else hiddenCard" [src]="card.image" class="dealer-card" />

            <ng-template #hiddenCard>
              <img src="/bgcarta.png" class="dealer-card" />
            </ng-template>
          </ng-container>
        </div>

        <div class="dealer-score" *ngIf="showDealerCards">
          {{ dealerScore }}
        </div>
      </section>

      <div class="deck-area">
        <img src="/baralho.png" class="deck-img" />

        <img *ngIf="drawingCard" [src]="drawingCard.image" class="flying-card" [class.animate]="startAnimation" />
      </div>

      <div class="mesa-container">
        <img src="/mesa-svg.svg" class="mesa-img mesa-click" (click)="restartGame()" />
      </div>

      <section class="player-section">
        <div class="player-cards">
          <img *ngFor="let card of playerCards" [src]="card.image" class="player-card" />
        </div>

        <div class="player-score">{{ playerScore }}</div>
      </section>

      <div class="actions" *ngIf="!gameOver">
        <button class="btn-action btn-pass" (click)="passar()">
          <img src="/passar-svg.svg" />
          PASSAR
        </button>

        <button class="btn-action btn-hit" (click)="pedir()">
          <img src="/pedir-svg.svg" />
          PEDIR
        </button>
      </div>

      <a routerLink="/dashboard" class="dashboard-link">
        <mat-icon>chevron_left</mat-icon>
        <span>Dashboard</span>
      </a>
    </div>

  </div>


</div>