.deck-area {
  position: relative;
  width: 120px;
  height: 160px;
  margin: 30px 0;
}

.deck-img {
  width: 120px;
}

/* carta que sai do baralho */
.flying-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 50;
  transform: translate(0, 0);
}

/* animação */
.flying-card.animate {
  animation: drawCard 0.4s ease-out forwards;
}

@keyframes drawCard {
  to {
    transform: translate(220px, 260px);
    /* AJUSTE até cair na mão */
  }
}