@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  background-color: #ededed;
  min-height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
