.dashboard-header {
  background: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.stat {

  display: flex;
  align-items: center;
  gap: 24px;
  padding: 48px 32px;
}

.stat:last-child {
  border-right: none;
}

.stat-info {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
  color: #000;
}

.value {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  background-color: #366cd4;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 25px 60px;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}

.actions button:hover {
  opacity: 0.9;
}

.history-link a {
  background-color: #fff;
  color: #000;
  width: max-content;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 30px 40px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
  }

  .stat {
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .stat:last-child {
    border-bottom: none;
  }
}